@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
  color: #333;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 1em auto 4em auto;
  width: 960px;
}

#experimentr {
  margin: 4em auto 1em auto;
  width: 720px;
}

.checkboxes {
  width: 720px;
  text-align: center;
}

.checkboxes input {
  margin: 0px 0px 0px 0px;
}

.checkboxes label{
  margin: 0px 20px 0px 3px;
}

#control {
  margin-top: 1em;
}

#next-button {
  float: right;
}

.placeholder {
  color: steelblue;
  font-weight: bold;
}
.progress-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.progress-holder {
  background-color: #eee;
  height: 20px;
  border-radius: 10px;
  width: 100%;
  margin: 20px;
  max-width: 700px;
}

.progress-holder .progress {
  background-color: #44d17e;
  height: 20px;
  border-radius: 10px;
  width:0%;
  transition: width 4000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


